Строим запрос к нашему сервису

In [6]:
import requests

import urllib.request
import json

In [30]:
data = (33.0, 'Female', 41.0, 6.0, 3.0, 20.0, 'Basic', 'Annual', 946.32, 8.0)

In [32]:
# формируем запрос
def send_json(x):
    Age, Gender, Tenure, Usage_Frequency, Support_Calls, Payment_Delay, Subscription_Type, Contract_Length, Total_Spend, Last_Interaction = x
    print(Age, Gender, Tenure, Usage_Frequency, Support_Calls, Payment_Delay, Subscription_Type, Contract_Length, Total_Spend, Last_Interaction)
    body = {
        'Age': Age, 
        'Gender': Gender,
        'Tenure': Tenure,
        'Usage Frequency': Usage_Frequency,
        'Support Calls': Support_Calls,
        'Payment Delay': Payment_Delay,
        'Subscription Type': Subscription_Type,
        'Contract Length': Contract_Length,
        'Total Spend': Total_Spend,
        'Last Interaction': Last_Interaction}
    
    myurl = 'http://127.0.0.1:8082' + '/predict'
    headers = {'content-type': 'application/json; charset=utf-8'}
    response = requests.post(myurl, json=body, headers=headers)
    return response.json()['predictions']

In [33]:
# обращение к серверу с запросом из одного набора (его построили руками выше - data)
response = send_json(data)
print('предсказание', response)

33.0 Female 41.0 6.0 3.0 20.0 Basic Annual 946.32 8.0
предсказание 0.9999999

Сделаем обработку массы запросов:

In [37]:
import pandas as pd
from sklearn.metrics import roc_auc_score, roc_curve, precision_recall_curve
from sklearn.metrics import f1_score
from urllib import request, parse

X_test = pd.read_csv("C:/Users/User/Desktop/Машинное обучение в бизнесе/Lection9/X_test.csv")
y_test = pd.read_csv("C:/Users/User/Desktop/Машинное обучение в бизнесе/Lection9/y_test.csv")

X_test.fillna('', inplace=True)

In [38]:
X_test

,Age,Gender,Tenure,Usage Frequency,Support Calls,Payment Delay,Subscription Type,Contract Length,Total Spend,Last Interaction
0,27.0,Male,14.0,28.0,3.0,16.0,Standard,Monthly,862.0,9.0
1,40.0,Male,19.0,2.0,8.0,28.0,Standard,Monthly,620.81,21.0
2,27.0,Female,57.0,3.0,0.0,24.0,Standard,Annual,915.0,26.0
3,40.0,Male,21.0,14.0,0.0,11.0,Basic,Annual,592.83,9.0
4,39.0,Male,58.0,4.0,2.0,8.0,Standard,Monthly,694.0,15.0
...,...,...,...,...,...,...,...,...,...,...
145470,19.0,Female,48.0,10.0,3.0,22.0,Basic,Quarterly,344.0,4.0
145471,33.0,Male,40.0,28.0,1.0,9.0,Basic,Quarterly,582.14,23.0
145472,44.0,Male,33.0,14.0,2.0,18.0,Standard,Quarterly,855.02,5.0
145473,45.0,Female,7.0,9.0,2.0,11.0,Basic,Annual,613.61,7.0
145474,21.0,Male,15.0,14.0,2.0,14.0,Basic,Quarterly,699.03,22.0

Сделаем N запросов и оценим время:

In [82]:
N = 2

In [83]:
%%time
predictions = X_test.iloc[:N].apply(lambda x: send_json(x), axis=1)

27.0 Male 14.0 28.0 3.0 16.0 Standard Monthly 862.0 9.0
40.0 Male 19.0 2.0 8.0 28.0 Standard Monthly 620.81 21.0
Wall time: 87.7 ms

In [64]:
predictions

0    0.99999905
1    0.99999905
dtype: object